body{
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.background {
  width: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  &::after {
    content: "";
    background: url(../img/background.jpg) top right;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

// Page specific overrides
.map {
  h1,
  h1.fancy {
    font-size: 1.3em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
  }
  .tagline {
    letter-spacing: inherit;
    display: inline-block;
    color: rgba(255,255,255,.5);
  }
}

// Common Styles

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.dark a {
  color: rgba(255,255,255,.7);
}

#sidebar {
  background-color: rgba(40, 53, 61, 1);
  overflow: hidden;
  background-color: #28353d;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;

  // Dim labels when unchecked
  fieldset{
    margin: 0;
    cursor: pointer;
    input{
      display: none;
    }
    label{
      margin: 0;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
    }

  }

  form dl{
    cursor: pointer;

    .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #aaa;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        float: left;
        margin: 5px 7px 0 0;
      }

      .bar {
          display: inline-block;
          width: 10px;
          height: 10px;
          background: #aaa;
          float: left;
          margin: 5px 7px 0 0;
        }

    label{
      cursor: pointer;
      padding-left: 0.5em;
    }
  }

  form fieldset {

    :not(:checked){
      &~label,&~span{
        opacity: 0.5;
        &:hover{
          opacity: 0.8;
        }
      }
    }

  }

  form input[type=checkbox]:not(:checked){
    opacity: 0.5;
    }

  }


// Hide sidebar on mobile
@media only screen and (max-width: 620px) {
  #sidebar {
    display: none;
  }
}
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  #map {
    position: relative;
  }
}



/* Map tooltip */
#map-control{

  position: absolute;
  right: 0.6em;
  top: 0.6em;

  #map-search{
    float: right;
  }
  #map-tooltip {
    margin-top: 0.6em;
    float: right;
    clear: right;
    background-color: rgba(255,255,255,0.95);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
    border-radius: 10px;
    padding: 7px 12px 3px 12px;
    position: fixed;
    display: none;
    width: 450px;
    tr:first-child {
      border-bottom: 1px solid #dedede;
    }
    td {
      padding: 7px 14px 7px 0;
      border: none;
    }
  }

}

/* Hover data */
.candidateName {
  font-size: 21px;
  font-weight: 800;
  line-height: 1.3em;
  letter-spacing: -0.3px;
}
.constituencyName {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-top: 1px;
  text-decoration: none;
}
.label {
  font-size: 12px;
  color: #888;
  letter-spacing: 0.4px;
}
.value {
  font-size: 16px;
  font-weight: 800;
}
.party {
  width: 50px;
  height: 50px;
  background-color: #eee;
  margin-right: 15px;
  text-align: center;
  line-height: 48px;
  float: left;
}
.party span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.limiter {
    background-color: rgba(255,255,255,0.8);
    padding: 40px 40px 20px 40px;
}
.fill-navy {
    background: rgba(0,0,0,0);
}
#info{
  position: absolute;
  width: 500px;
  height:400px;
  background-color: white;
  color: black;
  left: 0;
  top: 90px;
  padding: 20px;
  display: none;
}
#mapLegend{
  position: absolute;
  width: 240px;
  height: 200px;
  background-color: #34414e;
  overflow: hidden;
  bottom: 20px;
  left: 20px;
}
.lightGreyLine{
  background-color: #dedede;
  height: 1px;
  width: 100%;
}
.icon{
  height: 36px;
  float: left;
  margin-right: 10px;
  opacity: 0.6;
}
.icon-location{
  height: 20px;
  margin-right: 5px;
  float: left;
}

.AAP {
  background-image: url(../img/party-logos/aap.png);
  height: 50px; width: 50px; background-repeat: no-repeat; background-size: contain;
}
.BJP {
  background-image: url(../img/party-logos/bjp.png);
  height: 50px; width: 50px; background-repeat: no-repeat; background-size: contain;
}
.INC {
  background-image: url(../img/party-logos/inc.png);
  height: 50px; width: 50px; background-repeat: no-repeat; background-size: contain;
}
.SP {
  background-image: url(../img/party-logos/sp.png);
  height: 50px; width: 50px; background-repeat: no-repeat; background-size: contain;
}
