@media (max-width: 479px) {

  #map-tooltip {
    bottom:0px;
    right: 0px;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    tr:first-child {
    }
    tr:first-child{
      width: 100%;
    }
    tr:nth-child(2){
      width: auto;
      margin-left: 10px;
    }
    tr:nth-child(3), tr:nth-child(4){
      width: auto;
    }
    tr:nth-child(2),tr:nth-child(3), tr:nth-child(4) {
      float:left;
    }
    td {
      border: none;
      padding: 0px;
    }
  }
    .value{
      float: left;
      font-size: 13px;
      margin: 8px 12px 0px 0px;
      letter-spacing: 0.1px;
      font-weight: 400;

    }
    .candidateName{
      float: left;
      font-size: 18px;
    }
    .fl{
      float: left;
      .label{
        font-size: 13px;
      }
    }
    .icon{
      margin: 5px auto 5px auto;
      height:24px;
    }
    .titleText{
      display: none;
    }
    .constituencyName{
      font-size: 13px;
    }
    #info{
      width: auto;
      position: relative;
      left: 0px;
      margin: 0px;
      box-shadow: none;
      border-radius: 0px;
      p{
        float: none;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.3px;
        color: #676767;
      }
      h2{
        font-size: 13px;
      }
    }
    .helperImage{
      width: 100%;
    }
    .forkMe{
      display: inherit;
      padding: 5px 0px 5px 10px;
      margin: 10px 0px 0px 0px;
    }
    .hideBig{
      display: block;
      margin: 20px 0px;
    }
    .siteTitle{
      float: right;
      a{
        display: none;
      }
    }
    #layer-toggle{
      h2{
        display: none;
      }
    }
    .selectionGroupButton{
      float: left;
      color: rgba(255,255,255,0.6);
      border: none;
      padding: 3px 9px;
      border-radius: 0px;
      margin-right: 20px;
      letter-spacing: 0.8px;
      opacity:0.5;
      &:hover{
        border: 0px;
        color: white;
      }
      &.active{
        border: none;
        padding: 3px 9px;
        opacity: 1;
        border-radius: 0px;
        color: white;
        background-color: transparent;
      }
    }
    .selectionGroup{
      .selectionGroupButtonEducation{
        background-image: url(../img/education-button.png);
        height: 28px;width: 28px;background-size: contain;background-repeat: no-repeat;background-position: 50%;
      }
      .selectionGroupButtonAssets{
        background-image: url(../img/assets-button.png);
        height: 28px;width: 28px;background-size: contain;background-repeat: no-repeat;background-position: 50%;
      }
      .selectionGroupButtonCriminalCases{
        background-image: url(../img/criminal-cases-button.png);
        height: 28px;width: 28px;background-size: contain;background-repeat: no-repeat;background-position: 50%;
      }
    }
    .toggles .dot{
      display: none;
    }
    .smallTransparent{
      font-size: 0px;
    }
    .emptyTooltip{
      width: 1000%;
      padding: 0px 0px 0px 10px;
      font-size: 13px;
    }
    .hoverORTap-Hover{
      display: none;
    }
    .hoverORTap-Tap{
      display: inline;
    }
    .helpText{
      color:ddd;
    }
    .breakText{
    }
    .partyName{
      margin-left: 0px;
    }
}
